/* Resets the box-model so that widths and heights are not affected by their borders or padding.
 > Explanation

 1. box-sizing: border-box makes the addition of padding or borders not affect an element's width or height.

 2. box-sizing: inherit makes an element respect its parent's box-sizing rule.
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*  */
radio,
checkbox {
    display: none;
}

