:link {}

:visited {}

:hover {}

:active {}

:focus {}

/** Focus Within
 * Changes the appearance of a form if any of its children are focused.

 > Explanation

   The psuedo class :focus-within applies styles to a parent element if any child element gets focused. For example, an input element inside a form element.
 */
form:focus-within {
    background: #f7b731;
    color: #000000;
}

:invalid {}

.disabled {
    disabled: disabled;
}


/** Fullscreen
 * The :fullscreen CSS pseudo-class represents an element that's displayed when the browser is in fullscreen mode.

 > Explanation

   fullscreen CSS pseudo-class selector is used to select and style an element that is being displayed in fullscreen mode.
 */
:fullscreen {
    background-color: #e4708a;
    width: 100vw;
    height: 100vh;
  }